.search-box {
    width: 95%;
    height: 40px;
    margin: 20px auto;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-icon {
    margin-left: 12px;
    width: 20px;
}

.search-input {
    margin-left: 15px;
    border: none;
    height: 25px;
    font-size: 15px;
    outline: none;
    letter-spacing: 1.5px;
}