.seller-card {
    width: 95%;
    margin: 15px auto;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    color: #000;
    background: #ffffff;
    box-shadow: 0px 0px 2.2px -2px rgba(0, 0, 0, 0.022), 0px 0px 5.3px -2px rgba(0, 0, 0, 0.032), 0px 0px 10px -2px rgba(0, 0, 0, 0.04), 0px 0px 17.9px -2px rgba(0, 0, 0, 0.048), 0px 0px 33.4px -2px rgba(0, 0, 0, 0.058), 0px 0px 80px -2px rgba(0, 0, 0, 0.08);
}

.seller-profile-picture {
    width: 100px;
    margin: 15px 10px;
    border-radius: 10px;
}

.info-container {
    margin: 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-container {
    margin: 5px 0;
}

.title {
    margin: 0px;
}

.distance {
    font-size: 13px;
    color: gray;
}

.some-info {
    margin: 5px 0;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
}


